.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(161, 158, 158);
}

.body {
  display: flex;
  gap: 100px;
  padding: 10px;
}

.body > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contactDetails > input {
  height: 30px;
  width: 500px;
  padding: 10px;
}

.deliveryAddress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.deliveryAddress > select {
  padding: 5px;
  height: 30px;
}

.deliveryAddress > input {
  padding: 10px;
  height: 30px;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.paymentHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  gap: 10px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgb(195, 199, 201);
  background-color: rgb(214, 221, 225);
  border-radius: 5px;
}

.cardDetails > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.cardDetails > label > input {
  height: 30px;
  padding: 15px 10px 15px 10px;
}

.notice {
  font-size: 13px;
  font-weight: 500;
  color: rgb(112, 101, 101);
  padding: 5px 0px;
}

.cardDetails > div {
  border: 1px solid rgb(132, 176, 202);
  border-radius: 5px 5px 0px 0px;
  padding: 15px 10px 15px 10px;
}

.payNow {
  height: 40px;
  border: 1px solid rgb(132, 176, 202);
  border-radius: 5px;
  margin-top: 20px;
  background: rgb(69, 126, 233);
  color: white;
  font-size: 17px;
}

.image {
  width: 80px;
  height: 80px;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 10px;
  width: 500px;
  border-bottom: 1px solid rgb(161, 158, 158);
}

.paymentSummary {
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.row > span > input {
  width: 120px;
  text-align: right;
  padding: 3px;
}

.grandTotal {
  font-size: large;
  margin-top: 5px;
  padding: 5px 0px;
  font-weight:600;
}
