/* .cart:hover {
  cursor: pointer;
} */
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

.image {
  height: 150px;
  width: 150px;
  padding: 20px;
  margin-right: 100px;
}