.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding: 50px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 20px;
  filter: brightness(1);
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  padding: 50px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 1;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav > .navLinks {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.nav > .navLinks > span > a:hover {
  text-decoration: underline;
}

.userAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;
  gap: 40px;
}

.cartIconWrapper {
  position: relative;
  display: inline-block;
}

.cardBadge {
  position: absolute;
  top: -5px;
  right: -15px;
  border-radius: 50%;
  font-size: small;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
