.header {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 260px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    margin-left: 150px;
    margin-top: 20px;
}

.image {
    height: 200px;
    width: 200px;
}