.mainContainer {
  display: flex;
  flex-direction: column;
  height: 530px;
  background-color: rgb(250, 245, 245);
}

.childContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 100px;
  padding: 20px;
}

.discriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px;
  gap: 30px;
  width: 500px;
  align-items: flex-start;
}

.productName {
  font-size: 30px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.description {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.3;
  text-align: justify;
  height: 150px;
}

.buttonContainer {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.button {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.image {
  height: 400px;
  width: 400px;
  padding: 20px;
  margin-right: 100px;
}

.dotsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #333;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin-top: 10px;
}

.categoryContainer > div {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 5px;
  width: 450px;
  height: 250px;
  background-color: rgb(250, 245, 245);
}

.categoryContainer > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.categoryTitle {
  font-size: 25px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.categoryDiscription {
  height: 130px;
  font-size: 16px;
  font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

.categoryLink {
  font-size: 18px;
  font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

.categoryLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img {
  height: 180px;
}